<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3" *ngFor="let i of product">

                    <div class="card" style="width: 18rem;height: 80rem;">
                      <h5 class="card-title">{{i.title}}</h5>
                        <img height="300px" width="200px" src={{i.image}} class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">{{i.description}}</p>
                          <p class="card-text">Category:{{i.category}}</p>
                          <p class="card-text">Rating:{{i.rating.rate}}</p>
                          <p class="card-text">Count:{{i.rating.count}}</p>
                          <p class="card-text">Price:{{i.price}}</p>
                        </div>
                        
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        
                      </div>

                </div>

            </div>
        </div>
    </div>
</div>