<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">IMAGE</label>
                    <input type="file" name="img" [(ngModel)]="img" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">TITLE</label>
                    <input type="text" name="title" [(ngModel)]="title" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">DESCRIPTION</label>
                    <textarea name="desc" [(ngModel)]="desc" cols="30" rows="10" class="form-control" ></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">RATE</label>
                    <input type="text" name="rate" [(ngModel)]="rate" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">SELLER NAME</label>
                    <input type="text" name="sname" [(ngModel)]="sname" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">QUANTITY</label>
                    <input type="text" name="qty" [(ngModel)]="qty" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <button class="btn btn-warning" (click)="add()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>